<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>React &amp; EXP Chat App</title>
  <link href="//fonts.googleapis.com/css?family=Roboto:100" rel="styleshet" type="text/css" />
  <style>
    html { font-family: 'Roboto', sans-serif; color: #7e57c2; background-color: #fff }
  </style>
</head>

<body>

  <div id="react-root"></div>

  <!--
  <h1>Testing with EXP...</h1>

  <label for="text-to-send">Text to send:</label>
  <input type="text" id="text-to-send-textbox" placeholder="Enter in text to send" />
  <input type="button" value="Send it!" id="send-it-button" />

  <p>Chat log:</p>
  <div id="what-was-sent-container"></div>
  -->
</body>

</html>